<div class="fondo-overly-carts"  [ngClass]="{'overly-active': ActivarAni, 'overly-hidden': !ActivarAni}"  >
  <section class="contianer-list-cart"   [ngClass]="{'in-modal': ActivarAni, 'out-modal': !ActivarAni}"  >
    <div class="contianer-list-car__list">
      <div class="contianer-list-cart--items" *ngFor="let item of Cs.cartsItmes">
        <p class="contianer-list-cart--items__id"><span>id de la orden </span>{{item.id}}</p>
        <p class="contianer-list-cart--items__status"><span>estado de la order </span>{{item.status}}</p>

        <ng-container *ngIf="item.status ;else falseT">

          <p class="order_true" >order ya generada</p>
        </ng-container>


        <ng-template #falseT>
          <button type="button" (click)="generarrOrden()" class="contianer-list-cart--items__button">generar
            order</button>
        </ng-template>

      </div>
    </div>
    <a class="close_btn" (click)="closeModal()" >
      <div></div>
      <div></div>
    </a>
  </section>
  <div  class="alert--list-cart" [ngClass]="{'in-alert': alert, 'out-alert': !alert }"  >se cambió el estado de la orden</div>
</div>
