<header class="header">
  <div class="header--logo">
    <div class="header--logo__img">
      <img src="../assets/logo-tul.png" alt="logo_tul">
    </div>
    <h1>prueba tul</h1>
  </div>
  <div class="header--car">
    <button (click)="activateCart()">
      <img src="../assets/icons/shopping-cart-solid.svg" alt="shopping-cart">
    </button>
    <button (click)="menu()">
      <img src="../assets/icons/user-solid.svg" alt="user">
    </button>
    <nav [ngClass]="{'in-nav ': activateMenu, 'out-nav': !activateMenu}" class="header--car__navegacion">
      <ul>
        <ng-container *ngFor="let user of cS.infoSessionUser">
        <li   (click)="activateRegister()"> log-in / sing-in </li>
          <li *ngIf="user.email">
            <p>
              {{user.email}}
            </p>
          </li>
        </ng-container>
        <li (click)="activateCartList()">
          <p>ver ordernes</p>
        </li>
        <li (click)="cS.logout()">
          <p>cerrar seccion</p>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="main">
  <app-carts [ActivarAni]="activateC" (desctivar)="desactiveCart($event)"></app-carts>
  <app-products-carts [cartActivate]="Activate" (desctivete)="deactivateCart($event)"></app-products-carts>
  <app-sign-in-sign-up [activateM]="activateR" (desactiveM)="desactivedM($event)"></app-sign-in-sign-up>
  <app-products></app-products>
</main>
